OpenGLTest/OpenGLTest.v12.suo
OpenGLTest/OpenGLTest.v11.suo
OpenGLTest/OpenGLTest.sln
OpenGLTest/OpenGLTest.sdf
OpenGLTest/Debug/OpenGLTest.pdb
OpenGLTest/OpenGLTest/OpenGLTest.vcxproj.filters
OpenGLTest/OpenGLTest/OpenGLTest.vcxproj
OpenGLTest/OpenGLTest/Debug/opengl.obj
OpenGLTest/OpenGLTest/Debug/link.write.1.tlog
OpenGLTest/OpenGLTest/Debug/link.read.1.tlog
OpenGLTest/OpenGLTest/Debug/link.command.1.tlog
OpenGLTest/OpenGLTest/Debug/link-rc.write.1.tlog
OpenGLTest/OpenGLTest/Debug/link-rc.read.1.tlog
OpenGLTest/OpenGLTest/Debug/link-cvtres.write.1.tlog
OpenGLTest/OpenGLTest/Debug/link-cvtres.read.1.tlog
OpenGLTest/OpenGLTest/Debug/coordinate_systems_multiple.obj
OpenGLTest/OpenGLTest/Debug/cl.command.1.tlog
OpenGLTest/OpenGLTest/Debug/OpenGLTest.unsuccessfulbuild
OpenGLTest/OpenGLTest/Debug/OpenGLTest.log
OpenGLTest/OpenGLTest/Debug/OpenGLTest.lastbuildstate
OpenGLTest/OpenGLTest/Debug/CL.write.1.tlog
OpenGLTest/OpenGLTest/Debug/CL.read.1.tlog
*.tlog
*.log
*.obj
OpenGLTest/OpenGLTest/Debug/vc110.pdb
OpenGLTest/OpenGLTest/Debug/vc110.idb
OpenGLTest/x64/Debug/OpenGLTest.pdb
OpenGLTest/x64/Debug/OpenGLTest.ilk
OpenGLTest/x64/Debug/OpenGLTest.exe
OpenGLTest/OpenGLTest/x64/Debug/vc120.pdb
OpenGLTest/OpenGLTest/x64/Debug/vc120.idb
OpenGLTest/OpenGLTest/x64/Debug/vc110.pdb
OpenGLTest/OpenGLTest/x64/Debug/vc110.idb
OpenGLTest/OpenGLTest/x64/Debug/OpenGLTest.lastbuildstate
